*.o
*.lo
\.deps
\.libs
*.m4
*.in
configure
config\.*
libtool
missing
Makefile
/scripts/*
!/scripts/README
!/scripts/*.in
!/scripts/*.am
/scripts/Makefile.in
depcomp
install-sh
ltmain.sh
lib/libvzctl2.la
src/action_wrap
src/exec_wrap
